<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/LoginController.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<head>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div class="login" ng-app="login" ng-controller="loginControl">
		<h3 style="color: orange">Login</h3>
		<form name="userForm" ng-submit="submitForm()">

			<!-- User Name -->
			<div class="form-group"
				ng-class="{ 'login-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
				<div>
					<input type="text" name="name" class="form-control"
						ng-model="username" placeholder="Username" ng-required="true">
					<p
						ng-show="userForm.name.$error.required && (userForm.name.$dirty || submitted)"
						class="login-error">User name is required.</p>
				</div>
			</div>

			<!-- Password -->
			<div class="form-group"
				ng-class="{ 'login-error' : userForm.password.$invalid && ()userForm.password.$dirty || submitted)}">
				<div>
					<input type="password" name="password" class="form-control"
						ng-model="password" placeholder="Password" ng-required="true">
					<p
						ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)"
						class="login-error">Password is required.</p>
				</div>
			</div>
			<div>
				<p ng-show="loginFailed" class="login-error">Invalid username
					or password.</p>
				<button type="submit" ng-disabled="userForm.$invalid"
					style="width: 300px; font-size: 20px" class="btn btn-primary">Let
					me in.</button>
			</div>
		</form>
		<br>
	</div>
</body>
</html>