<div style="color: #ddd;">
	<div class="text-center">
		<h3 class="section-heading" style="color: orange">Let's Get In
			Touch!</h3>
		<hr class="primary">
		<p>Are you looking for antic gold jewellery wholeseller? That's
			great! Give us a call or send us an email and we will get back to you
			as soon as possible!</p>
	</div>
	<div class="col-lg-4 col-lg-offset-2 text-center">
		<i class="fa fa-phone fa-3x sr-contact" data-sr-id="9"
			style="visibility: visible; -webkit-transform: scale(1); opacity: 1; transform: scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
		<p>+91-9033744394</p>
	</div>
	<div class="col-lg-4 text-center">
		<i class="fa fa-envelope-o fa-3x sr-contact" data-sr-id="10"
			style="visibility: visible; -webkit-transform: scale(1); opacity: 1; transform: scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
		<p>
			<a href="mailto:your-email@your-domain.com">jhjewls@gmail.com</a>
		</p>
	</div>
</div>